/*
From material design color palette:

#f1f8e9 - Light Green  50
#7cb342 - Light Green 600
#558b2f - Light Green 800
#33691e - Light Green 900

#bdbdbd - Gray 400
#616161 - Gray 700

#000000 - Black

...1B - 10% transparent
...4D - 30% transparent
...80 - 50% transparent
*/
.delimiter{
    border-bottom: 1px solid #0000001B;
}

.header-text {
    background-color: #0000004d;
    color: #fff;
}

.header-text .tag-line {
    color: #fff;
}

.header-text h1 a {
    color: #fff;
}

/* The social-icons */
.global-footer .sns-links a {
    border: 1px solid #0000004d;
    color: #0000004d;
}

.global-footer .sns-links a:hover {
    border: 1px solid #33691e;
    color: #33691e;
}

/* The whole footer-area */
.global-footer {
    color: #0000004d;
}

.post-date {
    color: #0000004d;
}

a:hover,
a:focus {
    color: #33691e;
}

/* Tags of articles and pages */
.post-tag a {
  border: 1px solid #0000004d;
  color: #0000004d;
}

.post-tag a:hover {
    background-color: #f1f8e9;
    color: #bdbdbd;
}

.not-found h1 {
    color: #0000004d;
}

.author-bio {
    color: #00000080;
}

/* Color for e.g. headers and links */
.text-primary, a {
    color: #558b2f;
}

/* Primary buttons are the ones in the page (not in the header) */
.btn-primary {
    background-color: transparent;
    border-color: #7cb342;
    color: #558b2f;
}

.btn-primary:focus,
.btn-primary:hover {
    color: #33691e;
    background-color: #fff;
    border-color: #33691e;
}

.btn-primary.disabled,
.btn-primary.disabled:focus,
a.btn-primary.disabled,
a.btn-primary.disabled:focus {
    color: #616161;
    background-color: #fff;
    border-color: #bdbdbd;
}

/* Default buttons are the ones in the header */
.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-default:focus,
.btn-default:hover {
    color: #fff;
    background-color: #bdbdbd4d;
    border-color: #fff;
}

.info {
  background-color: #393838;
  color: #fff;
}
