<article>
  <header>
    <h1 class="li-h1"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div class="clearfix">
      <div class="post-date pull-left">
        <span class="li-small">
          {{ i18n "postedOn" }}
          {{ .Date.Format ( i18n "dateformat" ) }}
        </span>
      </div>
    </div>
  </header>
  <div>
    {{ if (isset .Params "summary") }}
      {{ markdownify .Params.Summary }}
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </div>
  {{ if .Truncated }}
    <footer>
      <div class="read-more-container">
        <a class="btn btn-primary" href="{{ .Next.URL }}">
          <div>
            {{ i18n "readMore" }} <span aria-hidden="true">&rarr;</span>
          </div>
        </a>
      </div>
    </footer>
  {{ end }}
</article>
