{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<article>
  <header class="article-title">
    <h1 class="text-primary">{{ .Title }}</h1>
  </header>
  <div class="delimiter"></div>
  <section>
    {{ .Content }}
  </section>
  <div class="clearfix">
    {{ if (isset .Params "noshowdate")  }}
    {{ else }}
      <div class="post-date pull-left">
        <span class="small">
          {{ i18n "postedOn" }}
          {{ .Date.Format ( i18n "dateformat" ) }}
        </span>
      </div>
    {{ end }}
    <div class="pull-right">
      {{ range .Params.tags }}
        <span class="post-tag small"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a></span>
      {{ end }}
    </div>
  </div>
  <footer>
    {{ if (isset .Params "nocomments")  }}
    {{ else }}
    {{ with .Site.Params.disqus }}
    <div class="delimiter"></div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ . }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    {{ end }}
    {{ if (isset .Params "author")  }}
    {{ $author := index $data.authors .Params.author }}
    <div class="delimiter"></div>
    <section class="author-info">
      <div class="author-avatar col-md-4">
        {{ with $author.avatar }}
        <img alt="Author Avatar" src="{{ . }}" />
        {{ end }}
      </div>
      <div class="author-meta col-md-8">
        {{ with $author.name }}
        <h1 class="author-name text-primary">{{ . }}</h1>
        {{ end }}
        {{ with $author.bio }}
        <div class="author-bio">{{ . }}</div>
        {{ end }}
        {{ with $author.contact }}
        <div class="btn btn-primary author-contact">
            <a href="{{ . }}">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                &nbsp;{{ i18n "contactMe" }}
            </a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </section>
    <div class="delimiter"></div>
    <div class="pager-container">
      {{ if .Next }}
        <div class="btn btn-primary btn-older-posts">
          <a href="{{ .Next.Permalink }}">
            <span aria-hidden="true">&larr;</span> {{ i18n "olderPosts" }}
          </a>
        </div>
      {{ else }}
        <div class="btn btn-primary btn-older-posts disabled">
          <a href="#">
            <span aria-hidden="true">&larr;</span> {{ i18n "olderPosts" }}
          </a>
        </div>
      {{ end }}
      {{ if .Prev }}
        <div class="btn btn-primary btn-newer-posts">
          <a href="{{ .Prev.Permalink }}">
            {{ i18n "newerPosts" }} <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      {{ else }}
        <div class="btn btn-primary btn-newer-posts disabled">
          <a href="#">
            {{ i18n "newerPosts" }} <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      {{ end }}
    </div>
  </footer>
</article>
<div class="delimiter"></div>

{{ partial "footer.html" . }}
