{{ if or .HasPrev .HasNext }}
  <div class="delimiter"></div>
  <nav class="pagination" role="navigation">
    {{ if .HasNext }}
      <div class="btn btn-primary btn-older-posts">
        <a href="{{ .Next.URL }}"><span aria-hidden="true">&larr;</span> {{ i18n "olderPosts" }}</a>
      </div>
    {{ else }}
      <div class="btn btn-primary btn-older-posts disabled">
        <a href="#"><span aria-hidden="true">&larr;</span> {{ i18n "olderPosts" }}</a>
      </div>
    {{ end }}
    <div>
      <span>{{ i18n "pageOf" . }}</span>
    </div>
    {{ if .HasPrev }}
      <div class="btn btn-primary btn-newer-posts">
        <a href="{{ .Prev.URL }}">{{ i18n "newerPosts" }} <span aria-hidden="true">&rarr;</span></a>
      </div>
    {{ else }}
      <div class="btn btn-primary btn-newer-posts disabled">
        <a href="#">{{ i18n "newerPosts" }} <span aria-hidden="true">&rarr;</span></a>
      </div>
    {{ end }}
  </nav>
{{ end }}
